body{
  background-color: #ECECEC !important;

}

p{
  color: black;
}

.colorRed{
  color: #DA3351;
}


a{
  color: #F75930;
}

#acc{
  background-image: url(../images/bg1.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/*  Home */

.title_acc{
  position: absolute;
  left: calc(50% - 768px / 2);
  top: 225px;
  text-transform: uppercase;
}

.title_episode{
  font-size: 1.35em;
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
.informations_episode{
  font-size: 1.2em;
  font-style: italic;
}

#info_autor{
  background-image: url("../images/bg2_autor.jpeg");
  /* filter: blur(6px); */
  height: auto;
  padding: 60px;
}
.autorName{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.commentIcon{
  color: #DA3351;
  margin-right: 5px;
}
.commentText{
  text-align: right;
  cursor: pointer;
}

.commentBox{
  height: 200px;
  border: 1px solid #ECECEC;
}

.comment{
  font-family: 'Archivo Narrow', sans-serif;
  background: #ECECEC;
  padding: 10px 20px;
  margin: -25px 25px;
}
.addComment{
  width: 100%;
  margin: 30px;
}

.autorComment{
  color: #DA3351;
  font-size: 17px;
}
.textComment{
  margin-left: 20px;
  margin-top: -5px;
}

/* Login */

#divLogin{
  width: auto;
  position: absolute;
  top: 400px;
  left: calc(50% - 514px /2);
  padding: 25px;
  background-color: rgb(255,255,255, 0.5);
}

#divLogin button{
  background: #DA3351;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Archivo Narrow', sans-serif;
  display: block;
  margin: 0 auto;
  margin-top: 75px;
}

.texteLogin{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 23px;
  text-align: center;
  color: #DA3351;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* Section */

.titleSection{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

/* Datatable */
table.dataTable thead th, table.dataTable thead td{
  border-bottom: 0px !important;
}
table.dataTable.no-footer{
  border-bottom: 0px !important;
}
